<div class="row">
  <div class="col-md-12">
    <h1>Events#index</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <% @events.each do |event| %>
      <%= render event %>
    <% end %>
  </div>
</div>

